<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ravaj AngularJS Forms Examples</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />-->
    <link rel="stylesheet" href="../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="../bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="../dist/ui-form-bootstrap.css" />
    <!--<link rel="stylesheet" href="../dist/ui-form-material.css" />-->
</head>
<body ng-app="ui.form.examples">
    <div class="jumbotron" style="text-align:center;">
        <h1>AngularJS ui-form Examples</h1>
    </div>

    <!-- Examples -->
    <div class="container">
        <section ng-controller="FormSimpleExampleController as vm" class="row">
            <h2>Simple form example</h2>
            <hr />
            <div class="col-sm-7">
                <ui-form ng-model="vm.data" debug="vm.debug" errors="vm.errors" loading="vm.loading">
                    <ui-field-text property="title"
                                   required="true"
                                   label="Title"
                                   placeholder="My perfect application"
                                   help="This is a help message"></ui-field-text>
                    <ui-field-text property="email"
                                   required="true"
                                   label="Email"
                                   placeholder="email@example.com"
                                   help="This field only allows an email address using pattern attribute."
                                   pattern=" '^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$' "></ui-field-text>
                    <ui-field-text property="sku"
                                   readonly="true"
                                   label="SKU"
                                   help="This field is read-only"></ui-field-text>
                    <ui-field-textarea property="content"
                                       label="Content"
                                       help="And this is another help message"></ui-field-textarea>
                </ui-form>
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
                    <button class="btn btn-default" ng-click="vm.saveWithErrors()">Save, but errors</button>
                </div>
            </div>
            <div class="col-sm-5">
                <pre>{{ vm.data | json }}</pre>
            </div>
        </section>
    </div>

    <!-- Scripts (Material Design library & its form templates are commented out) -->
    <script src="../bower_components/angular/angular.js"></script>

    <!--<script src="../bower_components/angular-material/angular-material.js"></script>-->
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>

    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>
    <script src="../bower_components/angular-fcsa-number/src/fcsaNumber.js"></script>
    <script src="../bower_components/plupload/js/moxie.js"></script>
    <script src="../bower_components/plupload/js/plupload.dev.js"></script>
    <script src="../bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="../bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="../bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="../bower_components/angular-bootstrap-persian-datepicker/persiandate.js"></script>
    <script src="../bower_components/angular-bootstrap-persian-datepicker/persian-datepicker-tpls.js"></script>

    <script src="../dist/ui-form.js"></script>
    <!--<script src="../dist/ui-form-templates-material.js"></script>-->
    <script src="../dist/ui-form-templates-bootstrap.js"></script>
    <script src="app.js"></script>
</body>
</html>