<ui-field-row>

    <!-- Single value select without expanding -->
    <select ng-if="!vm.multiple() && !vm.expanded()"
            chosen
            ng-model="vm.data"
            allow-single-deselect="true"
            data-placeholder="{{ 'ui.form.field.choice.unselected_option'| translate }}"
            no-results-text="'{{ 'ui.form.field.choice.no_result_text'| translate }}'"
            ng-options="option[vm.valueProperty].toString() as option[vm.labelProperty] | translate for option in vm.options">
    </select>

    <!-- Multiple value select without expanding -->
    <select ng-if="vm.multiple() && !vm.expanded()"
            chosen
            multiple
            ng-model="vm.data"
            data-placeholder="{{ 'ui.form.field.choice.unselected_option'| translate }}"
            no-results-text="'{{ 'ui.form.field.choice.no_result_text'| translate }}'"
            ng-options="option[vm.valueProperty].toString() as option[vm.labelProperty] | translate for option in vm.options">
    </select>

    <!-- Single value select via radio button -->
    <div ng-if="!vm.multiple() && vm.expanded()"
         class="form">
        <div ng-if="!vm.required()">
            <input type="radio" ng-model="vm.data" value="null"> {{ option[vm.labelProperty] | translate }}
        </div>
        <label ng-repeat="option in vm.options">
            <input type="radio" ng-model="vm.data" ng-disabled="vm.disabled" value=" {{ option[vm.valueProperty].toString() }} "> {{ option[vm.labelProperty] | translate }}
        </label><br />
    </div>

    <!-- Multiple value select via checkbox button -->
    <div ng-if="vm.multiple() && vm.expanded()"
         class="form">
        <label ng-repeat="option in vm.options">
            <input type="checkbox" ng-model="vm.data[$index]" ng-disabled="vm.disabled" value=" {{ option[vm.valueProperty].toString() }} "> {{ option[vm.labelProperty] | translate }}
        </label><br />
    </div>

    <!-- Loading spinner when fetching remote values -->
    <ui-form-loading ng-if="vm.loading"></ui-form-loading>
</ui-field-row>